.new-btn {
	background-image: url('../images/menu-icon-new.png');
}
.sync-btn {
	background-image: url('../images/menu-icon-sync.png');
}
.share-btn {
	background-image: url('../images/menu-icon-share.png');
}